{% extends '::base.html.twig' %}

{% block body %}

<h2>{{ "season.ranking"|trans }}</h2>

<table>
    <tr>
        <th>{{ "season.ranking_table.player"|trans }}</th>
        <th>{{ "season.ranking_table.points"|trans }}</th>
        <th>{{ "season.ranking_table.wins"|trans }}</th>
        <th>{{ "season.ranking_table.meetings"|trans }}</th>
        <th>{{ "season.ranking_table.bouts"|trans }}</th>
        <th>{{ "season.ranking_table.power"|trans }}</th>
        <th>{{ "season.ranking_table.efficiency"|trans }}</th>
    </tr>
{% for player in ranking %}
    <tr>
        <td>{{ player.username }}</td>
        <td>{{ player.points|number_format(2, ',') }}</td>
        <td>{{ player.wins|number_format(2, ',') }}</td>
        <td>{{ player.meetings }}</td>
        <td>{{ player.bouts }}</td>
        <td>{{ player.power|number_format(2, ',') }}</td>
        <td>{{ player.efficiency|number_format(0) }}%</td>
    </tr>
{% endfor %}
</table>

<h2>{{ "season.meetings"|trans }}</h2>

<table>
    <tr>
        <th>{{ "season.meetings_table.date"|trans }}</th>
        <th>{{ "season.meetings_table.users"|trans }}</th>
        <th>{{ "season.meetings_table.bouts"|trans }}</th>
        <th>{{ "season.meetings_table.games"|trans }}</th>
    </tr>
{% for meeting in meetings %}
    <tr>
        <td>
            <a href="{{ path('mdurys_gupek_meeting_show', { 'id': meeting.id }) }}">{{ meeting.date|date }}</a>
        </td>
        <td>
           {{ meeting.users }}
        </td>
        <td>
            {{ meeting.bouts }}
        </td>
        <td>
            {{ meeting.games }}
        </td>
{% endfor %}
</table>

{% endblock %}