{% extends '::base.html.twig' %}

{% block body %}

<h2>{{ "season.ranking"|trans }}</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ "season.ranking_table.player"|trans }}</th>
            <th>{{ "season.ranking_table.points"|trans }}</th>
            <th class="hidden-xs">{{ "season.ranking_table.wins"|trans }}</th>
            <th class="hidden-xs">{{ "season.ranking_table.meetings"|trans }}</th>
            <th class="hidden-xs">{{ "season.ranking_table.bouts"|trans }}</th>
            <th>{{ "season.ranking_table.power"|trans }}</th>
            <th>{{ "season.ranking_table.efficiency"|trans }}</th>
        </tr>
    </thead>
    <tbody>
{% for player in ranking %}
        <tr>
            <td>{{ player.username }}</td>
            <td>{{ player.points|round(2)|localizednumber }}</td>
            <td class="hidden-xs">{{ player.wins|round(2)|localizednumber }}</td>
            <td class="hidden-xs">{{ player.meetings }}</td>
            <td class="hidden-xs">{{ player.bouts }}</td>
            <td>{{ player.power|round(2)|localizednumber }}</td>
            <td>{{ player.efficiency|round(2)|loca        {{ dump(meetings) }}
lizednumber('percent') }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<h2>{{ "season.meetings"|trans }}</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ "season.meetings_table.date"|trans }}</th>
            <th>{{ "season.meetings_table.users"|trans }}</th>
            <th>{{ "season.meetings_table.bouts"|trans }}</th>
            <th>{{ "season.meetings_table.games"|trans }}</th>
        </tr>
    </thead>
    <tbody>
{% for meeting in meetings %}
        <tr>
            <td>
                <a href="{{ path('mdurys_gupek_meeting_show', { 'id': meeting.id }) }}">{{ meeting.date|localizeddate('long', 'none') }}</a>
            </td>
            <td>
               {{ meeting.users }}
            </td>
            <td>
                {{ meeting.bouts }}
            </td>
            <td>
                {{ meeting.games }}
            </td>
{% endfor %}
    </tbody>
</table>

<a class="btn btn-default" href="{{ path('mdurys_gupek_meeting_new', { 'season': season.id } ) }}">
    {{ "season.button.meeting_add"|trans }}
</a>

{% endblock %}