{% extends '::base.html.twig' %}

{% block body %}

<a href="{{ path("mdurys_gupek_season_show", { "id": meeting.season.id }) }}">sezon {{ meeting.season.id }}</a>

<h2>{{ meeting.date|date() }}</h2>

{% for bout in bouts %}
    <h3>{{ bout.game.name }}</h3>
    {% for mu in bout.meetingUsers %}
        <div>
            {{ mu.place }} {{ mu.user.username }} {{ mu.score }}
        </div>
    {% endfor %}
{% endfor %}

{% endblock %}