{% extends '::base.html.twig' %}

{% block body %}

<a href="{{ path("mdurys_gupek_season_show", { "id": meeting.season.id }) }}">sezon {{ meeting.season.id }}</a>

<h2>{{ meeting.date|localizeddate('long', 'short') }}</h2>

<a href="{{ path("mdurys_gupek_meeting_join", { "id": meeting.id }) }}" class="btn btn-success" role="button">
    {{ "form.button.join"|trans }}
</a>
<a href="{{ path("mdurys_gupek_meeting_leave", { "id": meeting.id }) }}" class="btn btn-warning" role="button">
    {{ "form.button.leave"|trans }}
</a>

<table class="table table-striped table-hover">
    {% for bout in bouts %}
        <thead>
            <tr>
                <th colspan="4">
                    <a href="{{ path("mdurys_gupek_game_show", { "slug": bout.game.slug }) }}">{{ bout.game.name }}</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for mu in bout.meetingUsers %}
                <tr>
                    <td>{{ mu.place|localizednumber('ordinal') }}</td>
                    <td>{{ mu.user.username }}</td>
                    <td>{{ mu.score|round(2)|localizednumber }}</td>
                    <td>{% if mu.win > 0 %}{{ mu.win|round(2)|localizednumber }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% endfor %}
</table>

{% endblock %}