{% extends '::base.html.twig' %}

{% block body %}

<a href="{{ path("mdurys_gupek_season_show", { "id": meeting.season.id }) }}">sezon {{ meeting.season.id }}</a>

<h2>{{ meeting.date|date() }}</h2>

{% for bout in bouts %}
    <h3><a href="{{ path("mdurys_gupek_game_show", { "slug": bout.game.slug }) }}">{{ bout.game.name }}</a></h3>
    {% for mu in bout.meetingUsers %}
        <div>
            {{ mu.place }}
            {{ mu.user.username }}
            {{ mu.score|number_format(2, ',') }}
            {% if mu.win > 0 %}
                {{ mu.win|number_format(2, ',') }}
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}

{% endblock %}