{% extends '::base.html.twig' %}

{% block body %}

    <h1>GUPEK</h1>

    <a class="btn btn-default" href="{{ path('mdurys_gupek_meeting_new', { 'season': 3 } ) }}">
        {{ "season.button.meeting_add"|trans }}
    </a>

    {% if meetings is not empty %}
        <h2>{{ 'homepage.upcoming_meetings'|trans }}</h2>
        <ul>
            {% for meeting in meetings %}
                <li>
                    <a href="{{ path('mdurys_gupek_meeting_show', { 'id': meeting.id }) }}">{{ meeting.date|localizeddate('long', 'none') }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if recentMeetings is not empty %}
        <h2>{{ 'homepage.recent_meetings'|trans }}</h2>
        <ul>
            {% for meeting in recentMeetings %}
                <li>
                    <a href="{{ path('mdurys_gupek_meeting_show', { 'id': meeting.id }) }}">{{ meeting.date|localizeddate('long', 'none') }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}